.Rg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.radio-buttons {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.custom-radio input {
    display: none;
}

.radio-btn {
    margin: 10px;
    width: 125px;
    height: 126px;
    border: 3px solid transparent;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px #c3c3c367;
    cursor: pointer;
}

.radio-btn>i {
    color: #ffffff;
    background-color: #6019ea;
    font-size: 20px;
    position: absolute;
    top: 5%;
    right: -4%;
    z-index: 999;
    transform: translateX(-50%) scale(2);
    border-radius: 50px;
    padding: 3px;
    transition: 0.5s;
    pointer-events: none;
    opacity: 0;
}

.radio-btn .hobbies-icon {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio-btn .hobbies-icon img {
    display: block;
    width: 100%;
    /* margin-bottom: 20px; */
    border-radius: 10px;

}

.radio-btn .hobbies-icon i {
    color: #6019ea;
    line-height: 80px;
    font-size: 60px;
}

.radio-btn .hobbies-icon h3 {
    color: #555;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.custom-radio input:checked+.radio-btn {
    border: 2px solid #6019ea;
}

.custom-radio input:checked+.radio-btn>i {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}